* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    position: relative;
    z-index: 2;
}

.bio-container {
    background-color: rgba(37, 37, 37, 0.7);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    width: 300px;
    margin: 20px;
    position: relative;
    z-index: 3;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid purple;
    animation: borderColorChange 15s infinite;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.bio {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    text-decoration: none;
    background-color: #9b59b6;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    animation: colorChange 15s infinite;
}

.link:hover {
    background-color: #8e44ad;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #ddd;
}

.footer a {
    color: #9b59b6;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.page-footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #ddd;
}

.page-footer p {
    margin: 0;
}

@keyframes colorChange {
    0% {
        background-color: #9b59b6;
    }
    20% {
        background-color: #8e44ad;
    }
    40% {
        background-color: #3498db;
    }
    60% {
        background-color: #f39c12;
    }
    80% {
        background-color: #e74c3c;
    }
    100% {
        background-color: #9b59b6;
    }
}

@keyframes borderColorChange {
    0% {
        border-color: #9b59b6;
    }
    20% {
        border-color: #8e44ad;
    }
    40% {
        border-color: #3498db;
    }
    60% {
        border-color: #f39c12;
    }
    80% {
        border-color: #e74c3c;
    }
    100% {
        border-color: #9b59b6;
    }
}

#starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.star {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    animation: star-blink 2s infinite;
}

@keyframes star-blink {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}
